/* prevents weird spacing on page */
* {
    margin: 0;
}

@font-face{
    font-family:'bavista';
    src:url('fonts/Bavista_Soulare.otf');
    font-style: normal; 
}

@font-face{
    font-family:'krinkles';
    src:url('fonts/KrinkesRegularPERSONAL.ttf');
    font-style: normal; 
}


body {
    background-color: #780000;
    font-family: "bavista",'krinkles';
    font-weight: 400;
    font-style: normal;
}

/*
 *
 * HEADER
 *
 */

/* allows for content in header (aka intro and stats divs) to be horizontal */
.header {
    background-color: #c1121f;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* intro takes up 50% of the header */
.intro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* changes instructions styling */
.instructions {
    padding: 25px;
    color: white;
    font-size: 29px;
}
/* changes START button styling */
.startBtn {
    background-color: #fdf0d5;
    padding: 10px 40px 10px 40px; /* top right bottom left */
    font-size: 24px;
    color: #780000;
}

/* allows for score and time left components to be horizontal */
.stats {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

/* styles the score */
/* allows score label and score itself to be horizontal */
.scoreContainer {
    color: white;
    display: flex;
    align-items: center;
    color: #fdf0d5; 
    font-size: 30px;
}
.score {
    color: #780000;
    font-size: 36px;
    margin-left: 15px;
}

/* styles the time left */
/* allows time label and time itself to be horizontal */
.timeContainer {
    color: white;
    display: flex;
    align-items: center;
    color: #fdf0d5;
    font-size: 30px; 
}
.time {
    color: #780000;
    font-size: 36px;
    margin-left: 15px;
}

/*
 * 
 * TEST
 *
 */

/* styles the word that will be typed */
.testContainer {
    width: auto;
    height: 75vh;
    align-content: center;
    text-align: center;
    /* border: orange solid; */
}
/* styles tested word */
.test {
    font-size: 20vw;
    color: white;
}

/* used for correct letters */
.background {
    background-color: #DF6C74;
}